<%- include('./include/header.ejs') %>
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i
                            class="bi bi-database-add"></i></div>
                    <h1 class="fw-bolder">사용자를 생성합니다.</h1>
                    <p class="lead fw-normal text-muted mb-0">팀장 계정만 생성해 주세요.</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <div>
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="username" type="text"
                                    placeholder="Enter your name..." />
                                <label for="name">사용자 이름을 입력해 주세요.</label>
                            </div>
                            <!-- Password input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="password1" type="password" placeholder="-" />
                                <label for="password">패스워드를 입력해 주세요.</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="password2" type="password" placeholder="-" />
                                <label for="password">패스워드를 한번 더 입력해 주세요.</label>
                                <span style="color:#E76161; font-size:14px;">패스워드는 8~16자 영문, 숫자, 특수문자를 최소 한가지씩 조합해
                                    주세요.</span>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="pageurl" type="text" placeholder="-" />
                                <label for="name">사용할 페이지 url을 입력해 주세요.</label>
                            </div>
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-lg" id="createBtn">계정 생성</button></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script src="../js/userCreate.js"></script>
    <%- include('./include/footer.ejs') %>